.dropDownList {
  position: absolute;
  top: 3.2rem;
  left: 0;
  right: 0;
  background-color: var(--neutral-800);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.dropDownList p {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: var(--neutral-200);
  margin: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--neutral-800);
  cursor: pointer;
  transition: all 250ms ease-in 20ms;
}

.dropDownList p:hover,
.select {
  background-color: var(--neutral-700);
  border-color: var(--neutral-700);
}
.loadingError {
  font-size: 0.7rem !important;
  cursor: default !important;
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 0.5rem !important;
}
.loadingError:hover {
  background-color: var(--neutral-800) !important;
  border-color: var(--neutral-800) !important;
}
/* .loading-error {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 0.5rem !important;
} */
.loadingError p span {
  display: block !important;
}
.loadingError img {
  width: 1rem;
}
