.dropDownList {
  z-index: 1000;
  text-align: left;
}
.dropDownList p {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: var(--neutral-200);
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  border: 1px solid var(--neutral-800);
  cursor: pointer;
  transition: all 250ms ease-in 20ms;
}

.dropDownList p:hover,
:global(.select) {
  background-color: var(--neutral-700);
  border-color: var(--neutral-600) !important;
}
.loadingError {
  font-size: 0.7rem !important;
  cursor: default !important;
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 0.5rem !important;
}
.loadingError:hover {
  background-color: var(--neutral-800) !important;
  border-color: var(--neutral-800) !important;
}
.loadingError p span {
  display: block !important;
}
.loadingError img {
  width: 1rem;
}

@media (max-width: 480px) {
}
