.loadingTemp,
.temp {
  width: 100%;
  height: 12rem;
  border-radius: 0.5rem;
}
.temp {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./bg-today-large.svg);
  background-size: cover;
  background-position: center;
}
.tempLeft h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
.tempLeft p {
  margin-top: 0.6rem;
  font-size: 0.75rem;
  color: var(--neutral-200);
}
.tempRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row-reverse;
}

.tempRight h3 {
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
}
.tempRight img {
  width: 4rem;
}
.loadingTemp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-700);
}
.loadingTemp p {
  font-size: 0.8rem;
}
.loadingTempDot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.loadingTempDot span {
  width: 0.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--neutral-200);
  animation: threeDotUpDown 0.6s ease-in-out infinite;
}
.loadingTempDot span:nth-of-type(1) {
  animation-delay: 0ms;
}
.loadingTempDot span:nth-of-type(2) {
  animation-delay: 120ms;
}
.loadingTempDot span:nth-of-type(3) {
  animation-delay: 240ms;
}
@keyframes threeDotUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .temp {
    background-image: url(./bg-today-small.svg);
    flex-direction: column;
    justify-content: space-around;
  }
  .tempLeft {
    text-align: center;
  }
}
