.btn {
  outline: 0;
  border: 0;
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-700);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
}

.no-results {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: var(--neutral-100);
  text-align: center;
}
