.hf {
  width: 37%;
  max-height: 522px;
  background-color: var(--neutral-800);
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  overflow: hidden;
  color: var(--neutral-200);
}
.hfTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
.hfList {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.hfList li {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-600);
  border-radius: 0.3rem;
  padding: 0 1rem;
  margin-bottom: 0.6rem;
}
.hfList div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.hfList img {
  width: 2rem;
}
.hfListTemp {
  font-size: 0.8rem;
}

.hf .activeList {
  /* background-color: var(--neutral-800); */
  border: 1px solid var(--neutral-300);
}

@media (max-width: 480px) {
  .hf {
    width: 100%;
  }
}
