.wf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
}
.wfBox {
  display: flex;
  justify-content: space-between;
  align-content: start;
  flex-direction: column;
  padding: 0.9rem;
  width: 100%;
  height: 5.5rem;
}
.wfBox:hover {
  border-color: var(--neutral-200);
}
.wfBox span:nth-of-type(1) {
  color: var(--neutral-300);
  font-size: 0.9rem;
}
.wfBox span:nth-of-type(2) {
  color: var(--neutral-200);
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .wf {
    flex-wrap: wrap;
  }
  .wfBox {
    width: clamp(5rem, 46%, 11rem);
  }
}
